body {
  font-family: "Lora", serif;
  background-image: url(/images/header-background-svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.nav-item {
  padding: 0 20px;
  color: white;
}

#header-index {
  width: 800px;
  padding-bottom: 70px;
}

#header-index .header-text {
  position: relative;
  top: 200px;
  left: 8%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header-index .header-text h1 {
  font-size: 3.5rem;
}

#header-index .header-text p {
  font-size: 2rem;
  color: #f36e4c;
}

#header-index .header-text .get-in-touch-btn {
  font-size: 1.3rem;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #e263e2, #8b078b);
  color: #fff;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
}

#header-index .header-text .get-in-touch-btn:hover {
  opacity: 0.8;
}

#header-index .header-text .get-in-touch-btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0px 0px 0px black;
          box-shadow: 0px 0px 0px black;
}

h2 {
  margin-top: 50px;
  font-size: 3rem;
}

hr {
  border: 1px solid #558b7ef5;
  width: 20%;
  margin: 10px auto;
}

#main-index .main-top .card-container {
  position: relative;
  top: 25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#fff), color-stop(#fff), to(#dbc2fd));
  background: linear-gradient(180deg, #fff, #fff, #fff, #dbc2fd);
  margin: 5rem 0rem;
  padding: 2rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#main-index .main-top .card-container .card-template {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 5%;
  border: 1px solid #f36e4c;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(white));
  background: linear-gradient(180deg, #fff, white);
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
}

#main-index .main-top .card-container .hide {
  opacity: 0;
}

#main-index .main-top .card-container .appearing {
  -webkit-animation: show;
          animation: show;
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

#main-index .main-top .card-container .icon-container {
  border: 1px solid #f36e4c;
  border-radius: 50%;
  background: #fff;
  width: 9rem;
  height: 9rem;
  position: relative;
  top: -3.5rem;
  margin: 0 auto;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.089);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.089);
}

#main-index .main-top .card-container .card-icon {
  position: relative;
  width: 6rem;
  top: 1.5rem;
}

#main-index .main-top .card-container .card-text {
  position: relative;
  top: -2.5rem;
  color: #4f5964;
}

#main-index .services {
  margin-top: 400px;
}

#main-index .services .service-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 40px;
  height: auto;
}

#main-index .services .service-container .service-box-colored {
  background: -webkit-gradient(linear, left top, left bottom, from(#f36e4c), to(#d34060));
  background: linear-gradient(180deg, #f36e4c, #d34060);
  color: white;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  font-size: 1.3rem;
  padding: 0px 50px;
}

#main-index .services .service-container .service-box-colored .text-center {
  font-size: 4rem;
}

#main-index .services .service-container .service-box-colored #service-list li {
  color: #fff;
}

#main-index .services .service-container .service-box-white .service-box-img {
  width: 100%;
  opacity: 0.8;
}
/*# sourceMappingURL=dental-office.css.map */