// VARIABLE
$transition3milli: 0.3s all ease-in-out;
// Color Variables
$custom-grey: rgb(65, 73, 100);
$custom-orange: rgb(243, 109, 76);
$custom-purple: rgb(139, 7, 139);

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Lora", serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body-index {
  background-image: url(/images/header-background-svg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 800px) {
  #body-index {
    background-image: url(/images/header-background-mobile-svg.svg);
  }
}

@media only screen and (max-width: 707px) {
  #body-index {
    background-image: url(/images/header-background-mobile-707-svg.svg);
  }
}

@media only screen and (max-width: 650px) {
  #body-index {
    background-image: url(/images/header-background-mobile-650-svg.svg);
  }
}

@media only screen and (max-width: 585px) {
  #body-index {
    background-image: url(/images/header-background-mobile-585-svg.svg);
  }
}
@media only screen and (max-width: 505px) {
  #body-index {
    background-image: url(/images/header-background-mobile-505-svg.svg);
  }
}
@media only screen and (max-width: 428px) {
  #body-index {
    background-image: url(/images/header-background-mobile-428-svg.svg);
  }
}
@media only screen and (max-width: 380px) {
  #body-index {
    background-image: url(/images/header-background-mobile-380-svg.svg);
  }
}

// Nav
.navbar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  transition: 0.5s all ease-in-out;
}
.navbarScroll {
  background: linear-gradient(
    45deg,
    rgba(0, 159, 187, 0.9),
    rgba(0, 158, 185, 0.875),
    rgba(76, 178, 236, 0.875),
    rgba(54, 107, 187, 0.9)
  );
  box-shadow: 0px 4px 20px rgba(23, 41, 44, 0.212);
  z-index: 3;
}

.nav-menu-open {
  background: linear-gradient(
    45deg,
    rgba(0, 159, 187, 0.9),
    rgba(0, 158, 185, 0.875),
    rgba(76, 178, 236, 0.875),
    rgba(54, 107, 187, 0.9)
  );
  box-shadow: 0px 4px 20px rgba(23, 41, 44, 0.212);
  z-index: 3;
}

.nav-item {
  padding: 0 20px;
  color: white;
}

.telephone-num {
  text-decoration: none;
  color: #fff;
  transition: $transition3milli;
}

.telephone-num:hover {
  color: #fff;
  opacity: 0.7;
}

// Index Header
#header-index {
  width: 800px;
  padding-bottom: 70px;
  transition: $transition3milli;
  .header-text {
    position: relative;
    top: 200px;
    animation: show;
    animation-duration: 1.75s;
    animation-iteration-count: 1;
    margin: 0 1rem;
    align-self: center;
    transition: $transition3milli;

    h1 {
      color: rgb(65, 73, 100);
      font-size: 3.5rem;
      transition: $transition3milli;
    }

    p {
      font-size: 2rem;
      color: rgb(243, 110, 76);
      transition: $transition3milli;
    }

    .get-in-touch-btn {
      font-size: 1.3rem;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      background: rgb(227, 220, 236);
      border: 2px solid rgba(111, 13, 240, 0.671);
      color: $custom-grey;
      transition: 0.1s all ease-in-out;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
    }

    .get-in-touch-btn:hover {
      opacity: 0.8;
    }

    .get-in-touch-btn:active {
      transform: translateY(1px);
      box-shadow: 0px 0px 0px black;
    }

    @media only screen and (max-width: 1150px) {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.75rem;
      }

      .get-in-touch-btn {
        font-size: 1.2rem;
      }
    }

    @media only screen and (max-width: 990px) {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.5rem;
      }

      .get-in-touch-btn {
        font-size: 1.1rem;
      }
    }
    @media only screen and (max-width: 900px) {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.4rem;
      }

      .get-in-touch-btn {
        font-size: 1.1rem;
      }
    }
    @media only screen and (max-width: 835px) {
      h1 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.3rem;
      }

      .get-in-touch-btn {
        font-size: 1rem;
      }
    }
    @media only screen and (max-width: 505px) {
      h1 {
        font-size: 3.8rem;
      }

      p {
        font-size: 1.7rem;
      }

      .get-in-touch-btn {
        font-size: 1.3rem;
      }
    }
  }
  @media only screen and (max-width: 900px) {
    .header-text {
      top: 125px;
    }
  }
  @media only screen and (max-width: 800px) {
    .header-text {
      top: 255px;
    }
  }
  @media only screen and (max-width: 585px) {
    .header-text {
      top: 125px;
    }
  }
}

@media only screen and (max-width: 800px) {
  #header-index {
    width: 100%;
  }
}

// Index Main

#main-index {
  .main-top {
    .card-container {
      position: relative;
      top: 25rem;
      background: linear-gradient(
        180deg,
        #fff,
        #fff,
        #fff,
        rgb(218, 238, 255),
        rgb(218, 238, 255)
      );
      margin: 5rem 0rem;
      padding: 2rem 7rem 12rem 7rem;
      display: flex;
      justify-content: space-between;
      text-align: center;
      transition: $transition3milli;

      .card-template {
        width: 300px;
        height: 350px;
        margin: 0 auto;
        padding: 0 1rem;
        border-radius: 5%;
        border: 1px solid rgb(243, 110, 76);
        background: linear-gradient(180deg, #fff, rgb(255, 255, 255));
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
        transition: $transition3milli;
      }

      .hide {
        opacity: 0;
      }

      .appearing {
        animation: show;
        animation-duration: 1.75s;
        animation-iteration-count: 1;
      }

      @keyframes show {
        0% {
          opacity: 0;
          transform: translateY(3rem);
        }
        100% {
          opacity: 1;
          transform: translateY(0rem);
        }
      }

      .icon-container {
        border: 1px solid rgb(243, 110, 76);
        border-radius: 50%;
        background: #fff;
        width: 9rem;
        height: 9rem;
        position: relative;
        top: -3.5rem;
        margin: 0 auto;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.089);
        transition: $transition3milli;
      }

      .card-icon {
        position: relative;
        width: 6rem;
        top: 1.5rem;
        transition: $transition3milli;
      }

      .card-title {
        transition: $transition3milli;
      }

      .card-text {
        position: relative;
        top: -2.5rem;
        color: rgb(79, 89, 100);
        transition: $transition3milli;
      }
      @media only screen and (max-width: 1170px) {
        .card-template {
          width: 250px;
          height: 300px;
          margin: 0 1rem;
        }
        .card-title {
          font-size: 1.3rem;
        }
        .card-text {
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }
      @media only screen and (max-width: 840px) {
        .card-text {
          font-size: 0.8rem;
        }
      }
      @media only screen and (max-width: 810px) {
        .card-template {
          width: 350px;
          height: 400px;
          margin: 3rem auto;
          padding: 0 1rem;
        }
        .card-title {
          font-size: 2rem;
        }
        .card-text {
          font-size: 1.25rem;
          line-height: 1.8rem;
        }
      }
      @media only screen and (max-width: 360px) {
        .card-template {
          width: 300px;
          height: 400px;
          margin: 3rem auto;
          padding: 0 1rem;
        }
        .card-title {
          font-size: 1.8rem;
        }
        .card-text {
          font-size: 1.15rem;
          line-height: 1.7rem;
        }
      }
    }
    @media only screen and (max-width: 1170px) {
      .card-container {
        top: 25rem;
      }
    }
    @media only screen and (max-width: 1000px) {
      .card-container {
        padding: 2rem 3rem;
      }
    }
    @media only screen and (max-width: 810px) {
      .card-container {
        top: 14rem;
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    @media only screen and (max-width: 510px) {
      .card-container {
        top: 12.5rem;
      }
    }
    @media only screen and (max-width: 370px) {
      .card-container {
        width: 100%;
        padding: 0;
      }
    }
  }

  .ser-section-container {
    width: 100%;
    background: linear-gradient(
      360deg,
      #fff,
      rgb(218, 238, 255),
      rgb(218, 238, 255),
      rgb(218, 238, 255)
    );
  }

  .services {
    width: 80%;
    margin: 400px auto 4rem auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.233);
    position: relative;
    .service-container {
      display: grid;
      // border-radius: 15px;
      grid-template-columns: 50% 50%;
      margin-top: 40px;
      height: auto;

      .bg-img {
        background: url("images/toothbrushes.jpg") center center/cover no-repeat;
        border-top-left-radius: 15px;
      }

      .bg-img-two {
        background: url("images/woman-holding-dentist-tools.jpg") center
          center/cover no-repeat;
        border-bottom-right-radius: 15px;
      }

      .rad-1 {
        border-top-left-radius: 15px;
      }

      .rad-2 {
        border-bottom-right-radius: 15px;
      }

      .service-box-colored {
        background: rgba(255, 255, 255, 0.884);
        color: rgb(65, 73, 100);
        padding-top: 20px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: left;
        font-size: 1.3rem;
        padding: 0px 50px;
        transition: $transition3milli;

        .text-center {
          font-size: 2.5rem;
          margin: 2rem 0 0 0;
          transition: $transition3milli;
        }

        .underline {
          width: 200px;
          background: rgb(250, 160, 100);
          padding: 1px;
          margin: 1rem auto 2rem auto;
        }

        p {
          font-size: 1.3rem;
          width: 100%;
          transition: $transition3milli;
        }

        .service-box-img {
          border-radius: 15px;
        }

        @media only screen and (max-width: 1351px) {
          .text-center {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.4rem;
          }
        }

        @media only screen and (max-width: 1101px) {
          .text-center {
            font-size: 3.5rem;
          }

          p {
            width: 70%;
          }
        }

        @media only screen and (max-width: 810px) {
          p {
            width: 100%;
          }
        }

        @media only screen and (max-width: 701px) {
          .text-center {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.2rem;
            width: 95%;
          }
        }

        @media only screen and (max-width: 612px) {
          .text-center {
            font-size: 2.25rem;
          }

          .underline {
            margin: 0.25rem auto 0.1rem auto;
          }
          p {
            margin: 0;
            font-size: 1rem;
            width: 95%;
          }
        }

        @media only screen and (max-width: 552px) {
          .text-center {
            font-size: 2rem;
            margin: 0.5rem 0 0 0;
            line-height: 2.1rem;
          }

          .underline {
            margin: 0rem auto 0.5rem auto;
          }
          p {
            line-height: 1.6rem;
            width: 100%;
            font-size: 1.25rem;
            margin: 0 0 1rem 0;
            text-align: center;
          }
        }

        .ser-border {
          background: linear-gradient(
            180deg,
            rgba(250, 128, 98, 0.753),
            rgba(218, 83, 112, 0.824)
          );
          width: 520px;
          margin: 1rem;
          display: flex;
          justify-content: center;
          border-radius: 10px;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.329);
          transition: $transition3milli;
        }

        .hide {
          opacity: 0;
        }

        .appearing {
          animation: go;
          animation-duration: 1.25s;
          animation-iteration-count: 1;
        }

        @keyframes go {
          0% {
            opacity: 0;
            transform: translateY(3rem);
          }
          100% {
            opacity: 1;
            transform: translateY(0rem);
          }
        }
        .ser-container {
          background: rgb(255, 255, 255);
          color: rgb(65, 73, 100);
          width: 100%;
          margin: 0.5rem;
          padding: 0.1rem;
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          border-radius: 10px;
          box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.295);
          transition: $transition3milli;
        }

        .service-box-text {
          font-size: 1.4rem;
          margin: 1.2rem 0 0.5rem 0;
          text-align: center;
          color: rgb(51, 51, 51);
          transition: $transition3milli;
        }

        .service-list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          li {
            font-size: 1.2rem;
            margin: 0 1rem;
            color: rgb(73, 73, 73);
            transition: $transition3milli;
          }
        }
        @media only screen and (max-width: 1351px) {
          .ser-border {
            width: 520px;
            margin: 0.8rem;
          }

          .ser-container {
            width: 100%;
            margin: 1rem;
            padding: 0.4rem;
          }

          .service-box-text {
            font-size: 1.2rem;
            margin: 1.2rem 0 0.5rem 0;
            text-align: center;
            color: rgb(51, 51, 51);
          }

          .service-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
              font-size: 1rem;
              margin: 0 1rem;
              color: rgb(73, 73, 73);
            }
          }
        }

        @media only screen and (max-width: 1101px) {
          .ser-border {
            width: 620px;
            margin: 0.8rem;
          }

          .ser-container {
            width: 100%;
            margin: 1rem;
            padding: 0.4rem;
          }

          .service-box-text {
            font-size: 1.4rem;
          }

          .service-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
              font-size: 1.2rem;
              margin: 0 1rem;
              color: rgb(73, 73, 73);
            }
          }
        }

        @media only screen and (max-width: 781px) {
          .ser-border {
            width: 80%;
            margin: 0.8rem;
          }

          .service-box-text {
            font-size: 1.4rem;
          }

          .service-list {
            li {
              font-size: 1.1rem;
            }
          }
        }

        @media only screen and (max-width: 741px) {
          .ser-border {
            width: 80%;
            margin: 0.8rem;
          }

          .ser-container {
            margin: 0.5rem;
          }
          .service-box-text {
            font-size: 1.4rem;
          }

          .service-list {
            li {
              font-size: 1rem;
            }
          }
        }

        @media only screen and (max-width: 652px) {
          .ser-border {
            width: 80%;
            margin: 0.3rem;
            padding: 0;
          }

          .service-box-text {
            font-size: 1.1rem;
            margin: 0;
            padding: 0;
          }

          .service-list {
            grid-template-columns: 1fr;
            li {
              font-size: 0.9rem;
            }
          }
        }

        @media only screen and (max-width: 501px) {
          .service-list {
            li {
              font-size: 1rem;
            }
          }
        }
        @media only screen and (max-width: 361px) {
          .ser-border {
            width: 99%;
            margin: 0.3rem;
            padding: 0;
          }

          .service-box-text {
            font-size: 1.1rem;
            margin: 0;
            padding: 0;
          }

          .service-list {
            grid-template-columns: 1fr;
            li {
              font-size: 0.9rem;
            }
          }
        }
      }

      @media only screen and (max-width: 500px) {
        .service-box-colored {
          padding: 0 10px;
        }
      }

      .service-box-white {
        .service-box-img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          opacity: 0.8;
          transition: $transition3milli;
        }

        .sb1 {
          border-top-right-radius: 15px;
        }

        .sb2 {
          border-bottom-left-radius: 15px;
        }
      }

      @media only screen and (max-width: 501px) {
        .service-box-white {
          .service-box-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: none;
            opacity: 0.8;
          }
        }
      }
    }
    @media only screen and (max-width: 1101px) {
      .service-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-top: 0px;
        height: auto;

        .one {
          grid-row: 1;
        }
        .two {
          grid-row: 2;
        }
        .three {
          grid-row: 3;
        }
        .four {
          grid-row: 4;
        }
      }
    }
  }
  @media only screen and (max-width: 810px) {
    .services {
      margin-top: 14rem;
    }
  }
  @media only screen and (max-width: 512px) {
    .services {
      margin-top: 12.5rem;
    }
  }
}

// ABOUT
.about {
  h3 {
    text-align: center; 
    font-size: 3rem; 
    color: rgb(65, 73, 100);
    position: relative;
    top: 120px;  
  }
  .contact-hr {
    position: relative;
    top: 120px; 
  }
  .about-container {
    display: flex; 
    flex-direction: column;
    transition: $transition3milli;
    margin-bottom: 120px; 
    #about-image {
      width: 400px;
      height: 300px; 
      margin: auto; 
      position: relative; 
      left: 18%; 
      top: 160px; 
      -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.191));
      filter:         drop-shadow(0 0 15px rgba(0, 0, 0, 0.191)); 
      transition: $transition3milli;
    }
    .about-text {
      width: 70%;
      margin: 0 auto;
      text-align: justify;
      color: $custom-grey;
      transition: $transition3milli;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);
      border-radius: 9px; 
      padding: 50px;
      padding-top: 140px; 
      background-color: white;
      p {
        transition: $transition3milli;
      }
    }
  }
  @media only screen and (max-width: 1280px) {
   .about-container {
     #about-image {
      left: 22%; 
      top: 170px; 
      width: 350px;
      height: 250px; 
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    h3 {
      position: unset; 
      margin-top: 70px; 
    }
    .contact-hr {
      position: unset; 
      margin-bottom: 70px; 
    }
    .about-container {
      #about-image {
        position: unset; 
        margin-bottom: -100px; 
      }
    }
  }
  @media only screen and (max-width: 735px) {
    .about-container {
      .about-text {
        width: 90%; 
        padding-left: 20px; 
        padding-right: 20px; 
        padding-bottom: 20px; 
      }
     }
   }
}

// go from display: flex to display: block when media query below 750px

// FREQUENTLY ASKED QUESTIONS SECTION
.fqa-container {
  color: rgb(65, 73, 100);
  width: 90%;
  background: rgb(236, 236, 236);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);

  .left-p {
    font-size: 2.4rem;
    width: 80%;
    margin: 0 auto;
  }

  @media only screen and (max-width: 920px) {
    .left-p {
      font-size: 2rem;
      transition: $transition3milli;
    }
  }

  @media only screen and (max-width: 550px) {
    .left-p {
      font-size: 1.8rem;
      transition: $transition3milli;
    }
  }

  @media only screen and (max-width: 500px) {
    .left-p {
      font-size: 1.5rem;
      transition: $transition3milli;
    }
  }
}

@media only screen and (max-width: 800px) {
  .fqa-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

.fqa-contact-box {
  margin: 2rem;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);
}

.fqa-contact-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem;
  background: rgb(255, 165, 0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.171);
  transition: $transition3milli;
}

.fqa-contact-btn:hover {
  color: #fff;
  opacity: 0.7;
}

@media only screen and (max-width: 884px) {
  .fqa-contact-box {
    padding: 1.8rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 800px) {
  .first-fqa-contact-box {
    display: none;
  }
}

.qna-container {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.178);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  transition: $transition3milli;
}

.qnaAniZero {
  animation: rollIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.qnaAniOne {
  animation: rollIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

.qnaAniTwo {
  animation: rollIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
}

.qnaAniThree {
  animation: rollIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

.qnaAniFour {
  animation: rollIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 0.4s;
}

.hideqna {
  opacity: 0;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.question-flex {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $transition3milli;
}

.question-para {
  margin: auto 0;
  justify-self: center;
  transition: $transition3milli;
}

.fas {
  transition: $transition3milli;
  cursor: pointer;
  transition: $transition3milli;
}

.fas:hover {
  opacity: 0.7;
}

.hide-me {
  display: none;
}

.hide-answer {
  overflow-y: hidden;
  height: 0.1rem;
  transition: $transition3milli;
}

.telephone-num-two {
  position: relative;
  top: 0.45rem;
  text-decoration: none;
  // margin: 5rem 0;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  background: rgb(236, 220, 220);
  border: 2px solid rgba(240, 13, 13, 0.671);
  color: $custom-grey;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.151);
  transition: $transition3milli;
}

.telephone-num-two:hover {
  color: $custom-grey;
  opacity: 0.7;
}

.second-fqa-contact-box {
  display: none;
}

@media only screen and (max-width: 884px) {
  .question-para {
    font-size: 1.2rem;
  }

  .fas {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .question-para {
    font-size: 1rem;
  }

  .fas {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .second-fqa-contact-box {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .second-fqa-contact-box {
    font-size: 1rem;
    width: 100%;
    margin: 0 auto;
  }
}

// ****************** FOOTER EVERY PAGE *******************
.footer-top-border {
  width: 100%;
  height: 50px;
  background: url("https://images.unsplash.com/photo-1553025343-a831ced408b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
    center center/cover no-repeat;
}

.footer-grid-container {
  background: rgb(94, 134, 172);
  width: 100%;
  padding: 2rem 2rem 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  transition: $transition3milli;
}

@media only screen and (max-width: 550px) {
  .footer-grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0 0.5rem 0;
  }

  .left-footer {
    display: none;
  }
}

.center-footer {
  font-size: 1.3rem;
  margin: 0 0 2rem 0;
  justify-self: start;
  padding: 0 2rem;
  transition: $transition3milli;
}

.footer-phone-text {
  font-size: 1.1rem;
  color: rgb(150, 181, 211);
  margin: 0;
  transition: $transition3milli;
}

.footer-link {
  text-decoration: none;
  color: rgb(205, 229, 252);
  transition: $transition3milli;
}

.footer-link:hover {
  color: rgb(205, 229, 252);
  text-decoration: underline;
  cursor: pointer;
}

.footer-email-text {
  margin: 1rem 0 0 0;
  font-size: 1.1rem;
  color: rgb(150, 181, 211);
  transition: $transition3milli;
}

.right-footer {
  justify-self: start;
  padding: 0 2rem;
  transition: $transition3milli;
}

.footer-right-para {
  font-size: 1.3rem;
  color: rgb(205, 229, 252);
  transition: $transition3milli;
}

.left-footer {
  justify-self: start;
  align-self: start;
  transition: $transition3milli;
}

.footer-left-para {
  font-size: 1.3rem;
  color: rgb(205, 229, 252);
  transition: $transition3milli;
}

.footer-bottom-flex {
  display: flex;
  width: 100%;
  background: rgb(72, 84, 116);
}

.creators {
  width: 100%;
  padding: 2rem 2rem 2rem 1rem;
  background: rgb(72, 84, 116);
  font-size: 0.9rem;
  color: rgb(150, 181, 211);
  transition: $transition3milli;

  a {
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 0.8;
  }
}

.useless-links {
  justify-self: end;
  align-self: flex-end;
  padding: 2rem;
}

.attributes {
  font-size: 0.1rem;
  color: rgb(150, 181, 211);
}

.plug {
  text-decoration: none;
  color: rgb(150, 181, 211);
}

.plug:hover {
  color: rgb(150, 181, 211);
}

@media only screen and (max-width: 550px) {
  .right-footer {
    padding: 0;
  }

  .footer-right-para {
    font-size: 1rem;
    color: rgb(205, 229, 252);
  }

  .center-footer {
    font-size: 1.3rem;
    margin: 0 0 2rem 0;
    justify-self: start;
    padding: 0 2rem;
  }

  .footer-phone-text {
    font-size: 1rem;
    color: rgb(150, 181, 211);
    margin: 0;
  }

  .footer-link {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(205, 229, 252);
  }
}

// *********************** SERVICES.HTML******************************

// SERVICES HEADER
.services-header {
  background: rgb(18, 73, 85);
  padding: 5rem 0 0 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.sh-bg-img {
  background: url("https://images.unsplash.com/photo-1567568443997-19f025355d52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    center center/cover no-repeat;
  width: 100%;
  // border-left: 5rem solid #fff;
  // border-right: 5rem solid #fff;
  height: 89vh;
  margin: 0 auto;
  box-shadow: 0 2px 15px rgba(10, 34, 56, 0.26);
}

// SERVICES MAIN
.services-main {
  background: rgb(130, 195, 211);
  // padding: 2rem 0 0rem 0;
  width: 100%;
}

.service-h1 {
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
  color: rgb(220, 250, 245);
}

.sh-hr {
  width: 120px;
  margin: 0 auto;
  border: none;
  background: rgb(14, 64, 83);
  padding: 1px 0;
}

.service-main-flex {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 600px;
  margin: 0rem auto;
}

@media only screen and (max-width: 1345px) {
  .service-main-flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // align-items: center;
    justify-items: center;
    height: 100%;
    margin: 5rem 0 0 0;
    padding: 2rem 0;
    text-align: center;
  }
}

@media only screen and (max-width: 505px) {
  .service-main-flex {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // align-items: center;
    justify-items: center;
    height: 100%;
    margin: 1rem 0 0 0;
    padding: 3rem 0;
    text-align: center;
  }
}

.service-main-flex:nth-child(odd) {
  background: rgb(130, 195, 211);
}

.service-main-flex:nth-child(even) {
  background: #fff;
}

.service-img-one {
  background: url("https://images.unsplash.com/photo-1590424693420-634a0b0b782c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80")
    center center/cover no-repeat;
  border: 5px solid #fff;
  width: 450px;
  height: 400px;
  margin: 0 0 0 5rem;
  box-shadow: -3rem -3rem 1px rgb(47, 71, 94);
  transition: $transition3milli;
}

.service-img-two {
  background: url("https://images.unsplash.com/photo-1606811951341-756fdd437682?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
    center center/cover no-repeat;
  border: 5px solid rgb(130, 195, 211);
  width: 450px;
  height: 400px;
  margin: 0 5rem 0 0;
  box-shadow: 3rem -3rem 1px rgb(47, 71, 94);
  transition: $transition3milli;
}

@media only screen and (max-width: 1345px) {
  .service-img-one {
    width: 550px;
    height: 500px;
    margin: 0;
  }

  .service-img-two {
    width: 550px;
    height: 500px;
    margin: 5rem 0 0 0;
    grid-row: 1;
  }
}

@media only screen and (max-width: 945px) {
  .service-img-one {
    width: 450px;
    height: 400px;
  }

  .service-img-two {
    width: 450px;
    height: 400px;
    margin: 5rem 0 0 0;
  }
}

@media only screen and (max-width: 745px) {
  .service-img-one {
    width: 350px;
    height: 300px;
  }

  .service-img-two {
    width: 350px;
    height: 300px;
    margin: 5rem 0 0 0;
  }
}

@media only screen and (max-width: 505px) {
  .service-img-one {
    width: 300px;
    height: 250px;
    margin: 2rem auto;
    box-shadow: -1rem -1rem 1px rgb(47, 71, 94);
  }

  .service-img-two {
    width: 300px;
    height: 250px;
    margin: 2rem auto;
    box-shadow: 1rem -1rem 1px rgb(47, 71, 94);
  }
}

.sr3 {
  background: url("https://images.unsplash.com/photo-1609840114035-3c981b782dfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    center center/cover no-repeat;
}

.sr4 {
  background: url("https://images.unsplash.com/photo-1606913536019-510fdc8f775e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80")
    center center/cover no-repeat;
}

.sr5 {
  background: url("https://images.unsplash.com/photo-1606811842243-af7e16970c1f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
    center center/cover no-repeat;
}

.hide-img {
  display: none;
}

@media only screen and (max-width: 505px) {
  .sr2 {
    display: none;
  }
  .sr4 {
    display: none;
  }
  .hide-img {
    display: block;
  }
}

.service-maintext-container {
  color: $custom-grey;
  width: 50%;
  margin: 0 auto;
  transition: $transition3milli;

  h3 {
    font-size: 2rem;
    transition: $transition3milli;
  }

  p {
    font-size: 1.2rem;
    transition: $transition3milli;
  }
}

@media only screen and (max-width: 1345px) {
  .service-maintext-container {
    color: $custom-grey;
    width: 50%;
    // border: 5px solid rgb(63, 101, 112);
    margin: 0 auto;
    // box-shadow: 0 0 15px rgba(47, 71, 94, 0.274);

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1145px) {
  .service-maintext-container {
    color: $custom-grey;
    width: 70%;
    // border: 5px solid rgb(63, 101, 112);
    margin: 0 auto;
    // box-shadow: 0 0 15px rgba(47, 71, 94, 0.274);

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 745px) {
  .service-maintext-container {
    color: $custom-grey;
    width: 70%;
    // border: 5px solid rgb(63, 101, 112);
    margin: 0 auto;
    // box-shadow: 0 0 15px rgba(47, 71, 94, 0.274);

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: 505px) {
  .service-maintext-container {
    color: $custom-grey;
    width: 70%;
    align-self: start;
    justify-self: start;
    // border: 5px solid rgb(63, 101, 112);
    margin: 0 auto;
    // box-shadow: 0 0 15px rgba(47, 71, 94, 0.274);

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.lrnBtn {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: rgb(220, 233, 236);
  border: 2px solid rgba(6, 124, 160, 0.671);
  color: $custom-grey;
  transition: 0.1s all ease-in-out;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.212);
}

.lrnBtn:hover {
  opacity: 0.8;
  color: $custom-grey;
}

.lrnBtn:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 0px black;
}

.insurance-section {
  background: rgb(244, 252, 255);
  text-align: center;
  padding: 2rem 0;
}

.insurances-container {
  width: 700px;
  margin: 3rem auto;
  border: 1rem solid rgb(47, 71, 94);
  background: rgb(219, 238, 255);
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.363);
  transition: $transition3milli;
  color: $custom-grey;
  font-size: 1.5rem;
}

@media only screen and (max-width: 505px) {
  .insurances-container {
    width: 300px;
    font-size: 1rem;
    border: 0.5rem solid rgb(47, 71, 94);
  }
}

.coverage-text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.95rem;
  color: $custom-grey;
}

@media only screen and (max-width: 505px) {
  .coverage-text {
    font-size: 1rem;
  }
}

.telephone-num-insurance {
  text-decoration: none;
  background: rgb(130, 195, 211);
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.233);
  transition: $transition3milli;
}

.telephone-num-insurance:hover {
  color: #fff;
  opacity: 0.7;
}

.telephone-num-insurance:active {
  transform: translateY(1px);
  box-shadow: 0 0 0 black;
}

// *********************** CONTACT.HTML******************************
#header-contact {
  padding-top: 100px;
  #header-title-contact {
    h1 {
      font-size: 3.5rem;
      color: rgb(65, 73, 100);
    }
  }
}

.contact-hr {
  width: 100px;
  margin: 10px auto;
  padding: 1.5px 0;
  // border-radius: 50%;
  border: none;
  background: orange;
  opacity: 1;
}

.mapouter {
  position: relative;
  text-align: right;
  border-radius: 10px;
  height: 500px;
  width: 901px;
  margin: 50px auto;
  box-shadow: 0px 0px 15px #00000020;
}

.gmap_canvas {
  border-radius: 10px;
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 901px;
}
